*{ font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
.navbar {
  padding: .5em;
  justify-content: space-between;
  background-color: lightgrey;
}

.nav-img {
  background: transparent url(/src/assets/—Pngtree—creative\ company\ logo_1197025.png) no-repeat center;
  width: 70px;
  height: 70px;
  background-size: cover;
}

#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: #b05f6d;
  color: white;
}
.blue {
  background-color: #275db3;
  color: white;
}

.home {
  background-color:coral;
  color: white;
}

.mountain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/aerial-view-glen-etive-winter-near-glencoe-argyll-region-highlands-scotland-showing-snow-dusting-mountains-munros-generative-ai.jpg);
  color: white;
}

.ocean {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/vertical-aerial-shot-sea-waves-hitting-cliff.jpg);
  color: white;
}

.button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: gray;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 29px;
  padding: 0 8px 0 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  font-weight: bold;
}

.button:hover {
  background-color: #f7fafa;
}

.button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.footer {
  padding:20px 0;
  background-color:#ffffff;
  color:#4b4c4d;
  width: 100%;
  justify-content: center;

}

.footer ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer li {
  padding:0 10px;
}

.footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer ul a:hover {
  opacity:1;
}

.footer .social {
  text-align:center;
  padding-bottom:25px;
}

.footer .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer .social > a:hover {
  opacity:0.9;
}

.footer .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}